@page "/coursedetail/{CourseId:int}"
@page "/coursedetail"

@using GestionaleFitstic.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext db
@inject NavigationManager Navi
@inject IJSRuntime JSRuntime
<!-- FORM EDIT -->

@if (CourseId == 0)
{
    <h3>Stai creando un nuovo corso</h3>
}
else
{
    <h3>Modifica il corso @c.Name</h3>
}

<EditForm Model="@c" OnValidSubmit="()=>SaveCourse()" OnInvalidSubmit="()=>CompleteFields()">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Nome</label>
        <InputText class="form-control" id="name" @bind-Value="c.Name" />
    </div>
    <div class="form-group">
        <label>Data inizio</label>
        <InputDate class="form-control" id="startDate" @bind-Value="c.StartDate" />
    </div>
    <div class="form-group">
        <label>Data fine</label>
        <InputDate class="form-control" id="endDate" @bind-Value="c.EndDate" />
    </div>
    <div class="form-group">
        <label>Sede</label>
        <InputText class="form-control" id="location" @bind-Value="c.Location" />
    </div>
    <button type="submit" class="btn btn-success">Salva modifiche</button>
</EditForm>

@code {
    private Course c;
    [Parameter]
    public int CourseId { get; set; }
    string saveMessage = "Vuoi salvare i cambiamenti?";
    string fillFieldsMessage = "Completa correttamente tutti i campi evidenziati in rosso per continuare";


    protected override async Task OnInitializedAsync()
    {
        if (CourseId == 0)
        {
            c = new Course()
            {
                StartDate = DateTime.Now,
                EndDate = DateTime.Now
            };
        }
        else
        {
            c = await db.Courses.FindAsync(CourseId);
        }
    }

    private async Task SaveCourse()
    {
        bool resultY = await ConfirmSave();
        if (resultY)
        {
            c.Name = c.Name.Substring(0,1).ToUpper() + c.Name.Substring(1).ToLower();
            c.Location = c.Location.Substring(0,1).ToUpper() + c.Location.Substring(1).ToLower();
            c.Year = c.StartDate.ToString("yyyy") + " - " + c.EndDate.ToString("yy");
            if (CourseId == 0)
            {
                db.Courses.Add(c);
                await db.SaveChangesAsync();
                StateHasChanged();
            }
            else
            {
                await db.SaveChangesAsync();
            }
            Navi.NavigateTo("/courses");
        }

    }

    private async Task CompleteFields()
    {
        await JSRuntime.InvokeAsync<object>("alert", fillFieldsMessage);
    }

    private async Task<bool> ConfirmSave()
    {
        bool result = await JSRuntime.InvokeAsync<bool>("confirm", new[] { saveMessage });
        return result;
    }
} 