@page "/"
<AuthorizeView>
    <Authorized>
        <h1>Benvenuto, @context.User.Identity.Name</h1>
        <p>Utilizza il menù a sinistra per navigare nel GestionaleFitstic</p>        
    </Authorized>
    <NotAuthorized>
        <h1>Benvenuto</h1>
        <p>Registrati o accedi con le tue credenziali per utilizzare il GestionaleFitstic</p>
    </NotAuthorized>
</AuthorizeView>




