@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Registrazione confermata";
}

<h1>@ViewData["Title"]</h1>
<div>
    <h2>Indirizzo email confermato con successo</h2>
    <p>Ottimo! Il tuo indirizzo email è stato confermato. Da ora in poi puoi utilizzare le tue credenziali per accedere al GestionaleFitstic! </p>
</div>
