@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Indirizzo email confermato con successo";
}

<h1>@ViewData["Title"]</h1>
<body style="background-image: url(https://tecnopolo.bo.cnr.it/wp-content/uploads/2019/03/Fitstic.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%">
    <br />
    <div>        
        <p><b>Ottimo! Il tuo indirizzo email è stato confermato. Effettua il login con le tue credenziali per accedere al GestionaleFitstic! </b></p>
    </div>
</body>
