@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>

<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    <style>       

        .main {
            padding: 0px 10px;
        }              

        .login-form {
            width: 200px;
            height: 200px;
            margin: 0 auto;
        }        

        .btn-black {
            background-color: #000 !important;
            color: #fff;
        }
    </style>
</head>

<body style="background-image: url(https://www.magdi.it/NewCservice/img/login.jpg);
        background-repeat: no-repeat;
        background-position: 70% 70%">
    <div class="main">
        <div class="col-md-6 col-sm-12">
            <div class="login-form">
                <form id="account" method="post">
                    <h4>Inserisci le tue credenziali per effettuare l'accesso</h4>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" placeholder="Email">
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" placeholder="Password">
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-black">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
