<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">GestionaleFitstic</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="material-icons">home</i> &nbsp; Home
            </NavLink>
        </li>     
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="staffs">
                <i class="material-icons">engineering</i> &nbsp; Personale
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="students">
                <i class="material-icons">school</i> &nbsp; Partecipanti
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="registrations">
                <i class="material-icons">person_add</i> &nbsp; Iscrizioni
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="courses">
                <i class="material-icons">subject</i> &nbsp; Corsi
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="modules">
                <i class="material-icons">view_module</i> &nbsp; Moduli
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="exams">
                <i class="material-icons">description</i> &nbsp; Esami
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
